.footer {
	margin-top: 2em;
}

.site-logo {
	padding: 15px 0 !important;
}

.header-navigation {
	float: right;
}

.ecommerce .header {
	position: fixed !important;
	top: 0;
	width: 100%;
	margin: 0 !important;
}

.ecommerce .page-slider {
	margin: 0 !important;
}

.social-icons {
	float: right;
}

.layout-content {
	width: 90%;
	margin: 0 auto;
}

.layout-content h1{
	width: 90%;
	margin: 20px auto;
	color: #E02222;
}

.align-center{
    text-align: center;
}

.margin-auto {
	margin: 0 auto;
}

.text-right {
	text-align: right;
}

.image-form {
    display: none;
    height: 150px;
    width: 100%;
    float: left;
}

#buttons a {
	margin: 0 10px;
}

tr.odd {
    background: rgba(224, 34, 34, 0.17) !important;
}
tr.even.selected{
    background: #F8F8F8 !important;
}
tr.even:hover{
    background: #F8F8F8 !important;
}
