.footer {
	position: absolute;
    width: 100%;
    bottom: 0;
}

.site-logo {
	padding: 15px 0 !important;
}

.header-navigation {
	float: right;
}

.ecommerce .header {
	position: fixed !important;
	top: 0;
	width: 100%;
	margin: 0 !important;
}

.ecommerce .page-slider {
	margin: 0 !important;
}

.social-icons {
	float: right;
}

.layout-content {
	width: 90%;
	margin: 0 auto;
}

.layout-content h1{
	width: 90%;
	margin: 20px auto;
	color: #E02222;
}

.align-center{
    text-align: center;
}

.margin-auto {
	margin: 0 auto;
}

.text-right {
	text-align: right;
}
