.container {
	width: 100%;
}

.description-page {
	display: none;
}

body {
	background-image: url("/bomwebsite/bomsite/images/fondos/textura.jpg");
}

#page {
	padding: 0;
	margin: 0;
	background-image: url("/bomwebsite/bomsite/images/fondos/textura.jpg");
}

#header {
	text-align: center;
    font-size: 14pt;
    font-family: sans-serif;
    text-shadow: 1px 1px #FFFFFF;
    border: 0;
}

.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.float-right {
	float: right;
}

#footer {
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px black;
}

#footer a {
	color: white;
}

.title h1 {
	color: #EC2335;
	font-weight: bold;
	font-size: 32pt;
}
.center-vertical {
	height: 100%;
	margin: 0 auto;
}

#logo {
	color: white;
	text-shadow: 2px 2px black;
}

.centered-container
{
    text-align: center;
}

.centered-container:before
{
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.centered
{
    display: inline-block;
    vertical-align: middle;
    /*for demonstration only*/
    -moz-transition: font-size linear 1s;
    -o-transition: font-size linear 1s;
    -webkit-transition: font-size linear 1s;
    transition: font-size linear 1s;
}

/*Galeria propia*/
.product-details {
	padding: 10px;
}

.big-image {
	padding: 10px;
	text-align: center;
}

.big-image img {
	max-height: 320px;
}

.thumbnails {
	display: flex;
	justify-content: space-between;
}

.thumbnails img {
	border: solid 1px red;
	cursor: pointer;
	display: inline-block;
	margin: 3px;
	max-height: 80px;
	min-height: 50px;
	padding: 2px;
}

.thumbnails img:first-child{
	margin-left: 0;
}

.thumbnails img:last-child{
	margin-right: 0;
}
/*Fin galeria propia*/

/*Galeria elevation zoom con fancybox*/
.gallery {
	display: flex;
	justify-content: center;
}

.gallery .active, .gallery a:hover {
	border: solid 1px #757575;
	text-decoration: none;
}

.gallery a {
	height: 50px;
}

.gallery img {
	height: 100%;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
}

.images-container {
	padding: 20px;
}

.images-container>img {
	border-radius: 10px;
    margin-bottom: 10px;
}

/* Fin Galeria elevation zoom con fancybox*/

.catalog-label {
	background-color: #E92131;
	border-radius: 10px;
	color: white;
	padding: 5px;
	margin-right: 10px;
}

.product-information h1 {
	color: #EC2335;
	font-weight: bold;
	font-size: 24pt;
}

.product-information p {
	line-height: 35px;
}

.colores img {
	margin-bottom: 5px;
}

.hidden {
	display: none;
}

.redes-sociales img:hover {
	background-color: white;
	border-radius: 10px;
}

.redes-sociales a:hover {
	text-decoration: none;
}

.footer-titles {
	font-size: 11pt;
}

.instruccion {
	position: absolute;
	background-color: white;
	opacity: 0.5;
	display: none;
	width: 45%;
}

.instruccion img {
	width: 100%;
}

.avanzar-arriba {
	top: 0;
	right: 0;
}

.avanzar-abajo {
	bottom: 0;
	right: 0;
}

.regresar-arriba {
	top: 0;
	left: 0;
}

.regresar-abajo {
	bottom: 0;
	left: 0;
}

.parpadea {
  animation-name: parpadeo;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 4s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 0.5; }
  50% { opacity: 0.0; }
  100% { opacity: 0.5; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 0.5; }
  50% { opacity: 0.0; }
   100% { opacity: 0.5; }
}

@keyframes parpadeo {  
  0% { opacity: 0.5; }
   50% { opacity: 0.0; }
  100% { opacity: 0.5; }
}

.mobile {
	background-color: white;
	display: none;
}

.logo-mobile img{
	max-width: 80%;
}

@media (max-width: 799px) {
	.computer {
		display: none;
	}
	.product-information {
		padding-left: 30px;
	}
	.mobile {
		display: block;
	}
	.zoomContainer {
		display: none;
	}
	#logo{
		font-size: 1em; 
	}
	#logo img{
		width: 50px;
	}
	.images-container>img {
		max-width: 100%;
	}
}

@media (max-width: 992px) and (min-width: 800px){
	.images-container>img {
		max-width: 100%;
	}

	.gallery {
		width: 100%;
		justify-content: flex-start;
	}

	.gallery a {
		height: 35px;
	}

	.product-information h1 {
		font-size: 18pt;
		margin: 0;
	}

	.even .col-sm-5 {
		padding-left: 30px !important;
	}
}

.logo-title {
	border-radius: 10px;
	background-color: white;
	display: inline-block;
}